* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: url(../img/background.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    
}

header {
    height: 250px;
    width: 880px;
    background-image: url(../img/banner.jpg);
    color: #488000;
    font-size: x-large;
}

div {
    display: block;
}

.container {
    position: relative;
    width: 880px;
    margin: 20px auto;
    background: white;
    border: initial;
    
    overflow: overlay;
}

.menu {
    height: 35px;
    width: 880px;
    background-color: #488000;
    color: white;
  }
  
  .menu .links a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    border-right: 1px solid white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
  }

.menu .links a:nth-child(5) {
    border-right: 0px;
}

h4 {
    color: #488000;
}

a {
    color: white;
}

p {
    text-align: justify;
    margin: 10px 0px;
}

h1, h2, h3, h4 {
    margin: 10px 0px;
}

.secundario {
    float: left;
    width: 200px;
    margin-left: 20px;
}

.principal {
    width: 600px;
    float: right;
    margin-right: 20px;
}

.principal img {
    width: 210px;
}

aside.secundario img,
div.principal img {
    float: left;
    margin-right: 10px;
}


footer {
    width: 880px;
    height: 35px;
    background-color: #488000;
    color: #fff;
    text-align: center;
    clear: both;
    margin-bottom: 10px;
}